<div *ngIf="!found" class="alert alert-danger alert-dismissible my-2" role="alert">
    Sorry, you cannot edit or delete this appointment
    <button type="button" class="btn-close" (click)="found = !found"></button>
</div>
<div class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="[appointment.id]" class="text-decoration-none text-reset">
        <h4 class="list-group-item-heading">{{ appointment.dog.name }}</h4>
        <p class="list-group-item-text">{{ timeToDisplay }}</p>
    </a>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Appointment
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="onClickEdit()">Edit Appointment</a></li>
            <li><a class="dropdown-item" (click)="deleteAppointment()">Delete Appointment</a></li>
        </ul>
    </div>
</div>


