<div class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/appointments', appointment.id]" class="text-decoration-none text-reset" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <h4 class="list-group-item-heading">{{ appointment.name }}</h4>
        <p class="list-group-item-text">{{ appointment.time }}</p>
    </a>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Appointment
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="">Edit Appointment</a></li>
            <li><a class="dropdown-item" href="">Delete Appointment</a></li>
        </ul>
    </div>
</div>


