<div class="row">
    <div class="mt-2 p-4 shadow-4 rounded-3 d-flex flex-column justify-content-between main-jumbotron">
        <h2 class="text-light">Welcome to the dog barber shop!</h2>
        <div>
            <h5 class="text-light">Our opening hours:</h5>
            <p class="text-light">Mon - Fri, 09:00 - 18:00</p>
            <a class="btn btn-success" routerLink="/add-appointment">New Appointment</a>
        </div>
     </div>
</div>
<div class="row mt-2">
    <div class="col-xs-12 list-group p-0">
        <router-outlet></router-outlet>
        <app-appointment *ngFor="let app of appointments" [appointment]="app"></app-appointment>
    </div>
</div>
