<!-- <app-main-banner></app-main-banner> -->
<button class="btn btn-success my-2" [routerLink]="isLoggedIn ? '/add-appointment' : '/login'">New Appointment</button>

<div class="row">
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-12 list-group p-0" *ngIf="!isLoading">
        <router-outlet></router-outlet>
        <app-appointment *ngFor="let app of appointments" [appointment]="app"></app-appointment>
    </div>
</div>
